.tubeline-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px;
}

.tube-status {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-text-stroke: 0.5px black;
    line-height: 1.2;
    letter-spacing: -2px;
    padding: 5px 30px 5px 20px;
    margin-left: auto;
    border-style: solid;
    border-width: 3px;
    border-radius: 100px;
    height: 25px;
    min-width: 110px;
    margin: 5px 10px 5px auto;
}

.tube-status-reason {
    font-style: italic;
}

.tube-container-inner {
    display: flex;
}

.tube-container {
    height: 100%;
    width: 100%;
    background: white;
    border: 2px solid black;
    box-shadow: 0.25rem 0.25rem black;
}

.tube-name {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    -webkit-text-stroke: 0.5px black;
    filter: drop-shadow(1.5px 1.5px black);
    line-height: 1.2;
    letter-spacing: -1px;
    margin: 0;
    padding: 5px 30px 5px 20px;
}

.overground {
    color: #EF7B10;
}

.london-overground {
    color: #EF7B10;
}

.piccadilly {
    color: #0019A8;

}

.bakerloo {
    color: #B26313;
}

.central {
    color: #DC241F;
}

.circle {
    color: #FFD329;
}

.district {
    color: #007D32;
}

.hammersmith,
.hammersmithcity,
.hammersmithandcity,
.hammersmith-city {
    color: #F4A9BE;
}

.jubilee {
    color: #A1A5A7;
}

.metropolitan {
    color: #9B0058;
}

.northern {
    color: #000;
}

.victoria {
    color: #0098D8;
}

.waterloo-city {
    color: #93CEBA;
}

.tflrail {
    color: #0019A8;
}

.dlr {
    color: #00AFAD;
}

.tram {
    color: #00BD19
}

.londontrams {
    color: #00BD19;
}

.severity10 {
    background-color: #00BD19;
}

.severity9 {
    background-color: #DC241F;
}

.severity6 {
    background-color: #EF7B10;
}