.checkbox {
    outline: 2px solid black;
    width: 18px;
    height: 18px;
    left: 170px;
    top: 20px;


    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* Shadow/2px Shadow

Smaller sized components
(8px)
*/
    filter: drop-shadow(2px 2px 0px #000000);
}